<div class="container">
  <div class="row center-align">
    <div class="col s12">
      <canvas id="c" width="400" height="400"></canvas>
    </div>
    <div class="col s12">
      <a class="waves-effect waves-light btn-large" id="button">Reveal</a>
      <a class="waves-effect waves-light btn-large" id="next">Next</a>
    </div>
  </div>
</div>
