<div class="container center-align">
  <div class="row">
    <div class="col s12">
      <h1>Rich Cat/Poor Cat</h1>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m8 offset-m2 l6 offset-l3">
      <canvas id="canvas" width="400" height="400"></canvas>
    </div>
  </div>
  <div class="row" id="buttons">
    <div class="col s6 m4 offset-m2">
      <a class="waves-effect waves-light btn-large green darken-1" id="rich" disabled="disabled">Rich</a>
    </div>
    <div class="col s6 m4">
      <a class="waves-effect waves-light btn-large red darken-1" id="poor" disabled="disabled">Poor</a>
    </div>
    <div class="col s7 m5 offset-m2">
      <h3 id="result-text">You Win!</h3>
    </div>
    <div class="col s5 m3">
      <a class="waves-effect waves-light btn-large" id="next">Next</a>
    </div>
  </div>
  <%= content_tag "div", id: "cats", data: { cats: @cats } do %>
  <% end %>
</div>
